*{margin: 0;padding: 0}
#box{height: 400px;width: 600px;margin: 0 auto ;}
li{list-style: none;float: left;width: 150px}
#top{height: 150px;width: 600px;border: 1px solid #ccc;margin-top: 40px;position: relative;overflow: hidden;}
#top_ul{position: absolute;}
p{cursor: pointer;z-index:2;position: absolute;background: #ccc;height: 40px;width: 20px;border-radius: 20px;text-align: center;line-height: 40px;font-size: 20px}
#tprve{top: 50px;left: 20px}
#tnext{top: 50px;right: 20px}
#bottom{overflow: hidden;height: 150px;width: 600px;border: 1px solid #ccc;margin-top: 40px;position: relative;}
#bot_ul{position: absolute;}
#bprve{top: 50px;left: 20px}
#bnext{top: 50px;right: 20px}